section{
    color: #ffffff;
    font-weight: 100;
}
.border-radius-08{
    border-radius: .8rem!important;
}
.detail_text{
    background-color: rgba(255,255,255,0.08);
}
.m_b{
    margin-bottom: 1rem;
}
.profile_img{
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

@media screen and (max-width:760px) { 
    /*　画面サイズが760pxまではここを読み込む　*/
    .detail_text{
        width: 80%;
    }
    .m_b{
        margin-bottom: 1rem;
    }
    .detail_text{
        padding: 1.5rem 1.5rem;
        font-size: 2.5vw;
    }
    .detail_text>h3{
        font-weight: 100;
        font-size: 1.2rem;
    }
}
@media screen and (min-width:761px) {
    /*　画面サイズが761pxからはここを読み込む　*/
    .detail_text{
        width: 70%;
    }
    .m_b{
        margin-bottom: 1.5rem;
    }
    .detail_text{
        padding: 2rem 3rem;
        font-size: 1rem;
    }
    .detail_text>h3{
        font-weight: 100;
        font-size: 2rem;
    }
}